<!DOCTYPE html>
<html>
	<head>
		<style>
			.form-block {
				display: block;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<component
				v-for="(item, index) in formData"
				:key="`item${index}`"
				:is="item.type"
				:params="item.params"
				class="form-block">
			</component>
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="./components/formLabel.js"></script>
		<script src="./components/formInputText.js"></script>
		<script src="./components/formSelect.js"></script>
		<script>
			var app = new Vue({
				el: '#app',
				components: {
					formLabel,
					inputText: formInputText,
					selectbar: formSelect,
				},
				data: {
					formData: [],
				},
				created() {
					fetch('https://next.json-generator.com/api/json/get/4yhP19ctL')
						.then(res => {
							return res.json();
						})
						.then(json => {
							this.formData = json;
						})
				}
			})
		</script>
	</body>
</html>